@import url(droparea.css);

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: 0.4rem;
}

input, select, textarea {
  appearance: none;
  width: 100%;
  padding: 1.2rem 1.6rem;
  font: var(--text);
  border-radius: .8rem;
  border: 1px solid var(--stroke-default);
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  outline: .4rem solid var(--surface-secondary);
  border: .2rem solid var(--stroke-highlight);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("../../assets/icons/calendar-03.svg");

    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url("../../assets/icons/arrow-down-01.svg") no-repeat calc(100% - 1rem);
}

.input-wrapper:has([disabled]) {
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
  }

  &:invalid {
    border: 2px solid var(--semantic-error);
  }

  & + small {
    font: var(--text-sm);
    color: #78716c;

    display: inline-block;
    margin-top: .4rem;
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .4rem;

    font: var(--text-sm);
    color: var(--semantic-error);
    margin-top: .4rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

input + .error {
  display: flex;
  align-items: center;
  gap: .4rem;

  margin-top: .4rem;
}