#app {
  display: grid;
  grid-template-columns: 51.25% 1fr;
  height: 100vh;
  overflow: hidden;
}

main {
  padding: 6.4rem;
  overflow: auto;

  .main-container {
    max-width: 52.8rem;
    margin-left: auto;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 6.4rem;

  .aside-container {
    max-width: 49.6rem;
  }
}