#app {
  display: grid;
  grid-template-columns: 51.25% 1fr;
  height: 100vh;
  overflow: hidden;
}

main {
  padding: 6.4rem;
  overflow: auto;

  .main-container {
    max-width: 52.8rem;
    margin-left: auto;
  }

  .back {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  h1 {
    font: 600 2.4rem/1.25 var(--font-family);
    margin-block: 2.4rem .8rem;
    color: var(--text-primary);
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 6.4rem;

  .aside-container {
    max-width: 49.6rem;

    & > img {
      margin-top: 3.2rem;
    }
  }

  h2 {
    font: 600 4rem/1.25 var(--font-family);
    color: var(--text-primary);

    strong {
      color: var(--text-highlight);
    }
  }
}